/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Special+Elite&display=swap');

/* Colors */
/* Farbe: #000, #fff; */

/* Generally */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Special Elite";
    color: #000;
}

h2, h3, h4 {
    font-family: "Exo";
    font-weight: bold;
    padding-bottom: 10px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.little_img {
    width: 300px;
    height: 200px;
}

/* Header */

header {
    background-image: url(../img/bg.jpeg);
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

header img {
    padding-top: 45vh;
}

/* Navigation */

nav {
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 20px;
    position: fixed;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

/* Section Hello/start */

.hello {
    vertical-align: middle;
    height: 70vh;
    background-image: url(../img/bridge_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hello div {
    height: 40vh;
    background-color: #fff;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 60%;
    padding-bottom: 5%;
    background-image: url(../img/beans_icon.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.hello p {
    text-align: left;
}

.hello p:first-of-type{
    padding-bottom: 15px;
}

/* Section menu */

#menu {
    text-align: center;
    height: 100vh;
    background-image: url(../img/bridge_2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#menu article {
    height: 80%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-image: url(../img/cake_icon.png);
}

#menu div div {
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #000;
}

#menu h2 {
    padding-top: 40px;
}

#menu h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Section Story */

#story {
    text-align: center;
    height: 65vh;
    background-color: red;
    background-image: url(../img/bridge_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#story article {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

#story p {
    text-align: left;
}

#story div {
    background-color: #fff;
    display: inline-block;
    padding-top: 20px;
    width: 20%;
    /* height: 40vh; */
    padding-right: 2%;
}

#story div h2 {
    display: block;
    text-align: left;
    padding-bottom: 10px;
}

#story div p {
    display: block;
    padding-bottom: 15px;
}

#story img {
    display: inline-block;
}

/* Section Catering */

#catering {
    height: 65vh;
    background-image: url(../img/bridge_4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    vertical-align: bottom;
}

#catering p {
    text-align: left;
    padding-bottom: 15px;
}

#catering article {
    height: 40vh;
    display: block;
    background-color: #fff;
    background-image: url(../img/pie_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
}

#catering div {
    display: inline-block;
    text-align: left;
    width: 30%;
    padding-top: 20px;
    padding-left: 2%;
}

#catering div h2 {
    display: block;
    padding-bottom: 10px;
}

#catering div p {
    display: block;
    padding-bottom: 20px;
}

#catering img {
    display: inline-block;
    vertical-align: bottom;
}

#catering a {
    margin-top: 10px;
    padding: 5px 2px;
    border: 1px solid #000;
}

/* Section Cakes */

#cakes {
    background-image: url(../img/muffin_icon.png);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
}

#cakes div {
    display: inline-block;
    width: 30%;
    height: 35vh;
    vertical-align: middle;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
    text-align: left;
}

#cakes div h2 {
    display: block;
    padding-bottom: 10px;
}

#cakes div p {
    display: block;
    padding-bottom: 20px;
}

#cakes img {
    display: inline-block;
    vertical-align: middle;
}

#cakes a {
    border: 1px solid #000;
    padding: 5px 2px;
    margin-top: 10px;
}

/* Footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

footer h3 {
    padding-bottom: 10px;
}

footer li {
    list-style: none;
}

footer ul li img:nth-of-type(1), footer ul li img:nth-of-type(2)  {
    width: 30px;
    height: 30px;
}
